@font-face {
    font-family: 'TheFont';
    src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2") format('woff2');
  }
  
  .breathe-animation {
    display: flex;
    flex-direction: column; /* Stack the text vertically */
    align-items: center;
    justify-content: center;
    background-image: url('https://example.com/your-background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .breathe-animation span {
    font-family: 'TheFont';
    font-size: clamp(5vw, 10vw, 25vh);
    color: white;
    text-align: center;
    animation: letter-breathe 3s ease-in-out infinite;
  }
  
  .medium-text {
    font-family: 'TheFont';
    font-size: large;
    color: white;
    font-size: x-large;
    margin-top: 20px; /* Space between the two text elements */
    text-align: center;
  }
  
  @keyframes letter-breathe {
    from {
      font-variation-settings: 'wght' 100;
    }
   
    
  }
  